.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    z-index: 999;
    width: 100px;
    height: 100px;
    border: 9px solid var(--blue);
    border-bottom-color: var(--blue-hover);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 