<div class="preview-wrapper">

  <div class="video-wrapper">
      <video *ngIf="this.api.isUserLoggedIn" #videoScreen
        id="my-video"
        class="video-js homescreen-video"
        autoplay 
        muted="true"
        loop
        preload="auto"
        data-setup="{}">
       
      </video>
  </div>

  <div class="text-wrapper">
    <app-media-preview-text  [headline]="(service.selectedChoice$ | async)?.headline!"  [description]="(service.selectedChoice$ | async)?.description!"></app-media-preview-text>
  </div>

</div>