

<section class="screen-wrapper sign-in">

    <div class="black-glass-background">
        <div class="flex">
        <h2>Log in</h2>
         <form>

            <div class="input-field">
                <icon>mail</icon>
                <input placeholder="Email Address">
            </div>

            <div class="input-field">
                <icon>password</icon>
                <input  [type]="fieldTypeIsPassword ? 'password' : 'text'" placeholder="Password">
                <icon (click)="changePasswordFieldType()" class="show-password-icon">{{fieldTypeIsPassword ? 'visibility' : 'visibility_off' }}</icon>
            </div>

             <button routerLink="/media">Log in</button>
             <a routerLink="/forgot_pw">Forgot password?</a>
             <p>New to Videoflix? <a class="bold" routerLink="/sign_up">Sign Up now</a></p>

         </form>
        </div>
    </div>

    <div class="curtain darken"></div>

    <footer-navigation></footer-navigation>
</section>
