.head-wrapper{
    position: fixed !important;
    top: 0px;
}


.video-js .vjs-big-play-button{
    position: absolute;
    top: 50% !important;
    left: 50% !important ;
    background-color: #000000 !important;
}



