<section>
<div class="meta-container">


</div>
<div class="video-container">
 <video #videoScreen
        id="my-video"
        controls
        class="video-js"
        data-setup="{}">

        <source [src]="" type="video/mp4" />

        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
    </video>

</div>
</section>