 <h2>Reset password</h2>
         <form [formGroup]="resetPasswordForm">
            <p>
              Create a new password for your <a routerLink="/sign_up">Videoflix</a> account.
            </p>

            <div class="errorBox">
                <p *ngIf="validation.checkError() as error">{{ error }}</p>
                <p *ngIf="!validation.checkError() && setPasswordFailed">Ops, something went wrong!</p>
            </div>

            <div class="input-field" [ngClass]="{'invalid-border': validation.getError('password')?.hasError || validation.getFormError('passwordMismatch').hasError}">
                <icon>password</icon>
                <input  formControlName="password" autocomplete="new-password" [type]="fieldTypeIsPassword ? 'password' : 'text'" placeholder="Enter a password">
                <icon (click)="changePasswordFieldType()" class="show-password-icon">{{fieldTypeIsPassword ? 'visibility' : 'visibility_off' }}</icon>
            </div>

            <div class="input-field" [ngClass]="{'invalid-border': validation.getError('password')?.hasError || validation.getFormError('passwordMismatch').hasError}">
                <icon>password</icon>
                <input  formControlName="repeatedPassword" autocomplete="current-password" [type]="fieldTypeIsPassword ? 'password' : 'text'" placeholder="Confirm password">
                <icon (click)="changePasswordFieldType()" class="show-password-icon">{{fieldTypeIsPassword ? 'visibility' : 'visibility_off' }}</icon>
            </div>

             <button [disabled]="resetPasswordForm.invalid" (click)="sendResetPassword($event)">Reset my password</button>

         </form>