 <h1>Reset password</h1>
         <form>
            <p>
              Create a new password for your <a routerLink="/sign_up">Videoflix</a> account.
            </p>

            <div class="input-field">
                <icon>password</icon>
                <input  [type]="fieldTypeIsPassword ? 'password' : 'text'" placeholder="Enter a password">
                <icon (click)="changePasswordFieldType()" class="show-password-icon">{{fieldTypeIsPassword ? 'visibility' : 'visibility_off' }}</icon>
            </div>

            <div class="input-field">
                <icon>password</icon>
                <input  [type]="fieldTypeIsPassword ? 'password' : 'text'" placeholder="Confirm password">
                <icon (click)="changePasswordFieldType()" class="show-password-icon">{{fieldTypeIsPassword ? 'visibility' : 'visibility_off' }}</icon>
            </div>

             <button routerLink="/forgot_pw/validated">Reset my password</button>

         </form>