form{
    width: 100%;
    max-width: 480px;
    display: flex;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p{
    max-width: 380px;
}

input{
    padding-top: 2px;
    background: none;
    width: 100%;
    margin-left: 0px;
    border: none;
    padding-right:0px;
    border-radius: 8px;
}

button{
    margin: 24px 0px;
}

h1{
    text-align: center;
}

.show-password-icon{
    &:hover{
        cursor: pointer;
    }
}

.input-field{
    margin: 16px 0px;
    display: flex;
    align-items: center;
    border: 1px solid var(--blue);
    padding: 0px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--glass);
    width: 100%;

    icon{
        color: var(--blue);
        font-size: 1.75rem;

    }

    &:hover, &:hover>icon, &:focus, &:focus>icon, &:focus-within, &:focus-within>icon{
        border-color: var(--blue-hover);
        color: var(--blue-hover);
    }  
}

.invalid-border{
    border-color: var(--error);
    icon{ 
        color: var(--error);
    }
}