 <h2>Forgot your<br>password?</h2>
         <form [formGroup]="forgotPwForm">

            <p>We will send you an email with instructions to reset your password.</p>

            <div class="errorBox">
                <p *ngIf="validation.checkError() as error">{{ error }}</p>
            </div>

            <div class="input-field" [ngClass]="{'invalid-border': validation.getError('email')?.hasError}">
                <icon>mail</icon>
                <input autocomplete="email" formControlName="email" placeholder="Email Address">
            </div>

             <button [disabled]="forgotPwForm.invalid" routerLink="/forgot_pw/confirm">Send Email</button>

         </form >