.homescreen{
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/wallpaper/wallpaper-001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form{
    width: 100%;
    display: flex;
    margin-top: 16px;
}