h1{
    text-align: left;
    margin-top: 0px;
}

button{
    position: relative;
    padding-left: 42px;
}

p{
    padding-bottom: 16px;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
}

.sub-flex{
    gap: 16px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 16px;
}

.delete-button{
    background-color: transparent;
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue-hover);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    span{
        width: max-content;
        transform-origin: left 50%;
        scale: 0% 100%;
        width: 0px;
        opacity: 0;
        transition: scale 0.25s ease-in-out, width 0.25s ease-in-out, padding-left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    icon{
        margin-left: 18px;
        width: max-content;
        height: 100%;
        font-size: 1.7rem;
        color: var(--light-grey);
        transition: color 0.125s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1px;
    }

    &:hover {
        border-color: var(--red-hover);
        background-color: var(--red-hover);
        color: var(--white); 
        span{
            padding-left: 12px;
            width: 46px;
            transform-origin: left 50%;
            scale: 100% 100%;
            opacity: 1;
            transition: scale 0.25s ease-in-out, width 0.25s ease-in-out, opacity 0.25s ease-in-out;
        }
    }

    &:hover icon{
        color: var(--white); 
        transition: color 0.125s ease-in-out;
    }
}


.edit-button{
    background-color: transparent;
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue-hover);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;



    span{
        width: max-content;
        transform-origin: left 50%;
        scale: 0% 100%;
        width: 0px;
        opacity: 0;
        transition: scale 0.25s ease-in-out, width 0.25s ease-in-out, padding-left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    icon{
        margin-left: 18px;
        width: max-content;
        height: 100%;
        font-size: 1.7rem;
        color: var(--light-grey);
        transition: color 0.125s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2px;
    }

    &:hover {
        border-color: var(--blue);
        color: var(--white); 
        background-color: var(--blue);
        span{
            padding-left: 12px;
            width: 32px;
            transform-origin: left 50%;
            scale: 100% 100%;
            opacity: 1;
            transition: scale 0.25s ease-in-out, width 0.25s ease-in-out, opacity 0.25s ease-in-out;
        }
    }

    &:hover icon{
        color: var(--white); 
        transition: color 0.125s ease-in-out;
    }
}

.description{
    max-width: min(33vw, 500px);
    display: -webkit-box;
    line-clamp:6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0px;
    text-wrap: balance;
}


.text-preview-wrapper{
    position: relative;
    max-width: 40vw;
    &::after{
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--glass);
        z-index: -1;
        filter: blur(5rem);
        border-radius: 20%;
        opacity: 0.75;
    }
}

icon{
    left: 0px;
    top: 0px;
    position: absolute;
    font-size: 2.25rem;
}

@media screen and (max-width:1180px) {

    .text-preview-wrapper{
        width:100%;
        max-width: none;
    }

    .description{
        width:100%;
        max-width: none;
        line-clamp:4;
        -webkit-line-clamp: 4;
    }

    h1{
        line-clamp:2;
        -webkit-line-clamp: 2;
         display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; 
        line-height: 105%;  
    }
}

@media screen and (max-width:400px) {
    .flex{
        width: max-content;
        flex-direction: column;
    }

    .sub-flex{
        margin-top: 12px;
        margin-left: 0px;
    }

    button{
        display: flex;
        flex-grow: 0;
        width: max-content;
        margin-left: 0px;
    }

    .edit-button{
        display: flex;
        flex-grow: 0;
        width: max-content;
        margin-left: 0px;
    }
    .delete-button{
        display: flex;
        flex-grow: 0;
        width: max-content;
        margin-left: 0px;
    }
}