<div class="text-preview-wrapper" *ngIf="isData && service.lengthOfData > 0">
    <ng-container *ngIf="service.selectedChoice$ | async as video">

            <h1>{{video.headline}}</h1>
            <p class="description">{{video.description}}</p>
            <div class="flex" *ngIf="video.is_converted">
                <button (click)="openVideoPlayer($event)"><icon>arrow_right</icon>Play</button>
                <button class="delete-button" (click)="deleteVideo($event)"><icon>delete</icon><span>Delete</span></button>
            </div>

    </ng-container>


</div> 

<div class="background-filler" *ngIf="isData && service.lengthOfData <= 0">
    <h1>No Video Found</h1>
    <p class="description">Please add at least one Video.</p>
</div>
